        .container {
            display: grid;
            grid-template-columns: auto auto auto;
            margin-top: 15px;
        }
        
        h5 p {
            text-align: center;
        }
        
        @media screen and (max-width:800px) {
            .container {
                display: grid;
                grid-template-columns: auto auto;
            }
        }
        
        @media screen and (max-width:600px) {
            .container {
                display: grid;
                grid-template-columns: auto;
            }
        }